body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

.header {
  background: #b91c1c;
  color: white;
  text-align: center;
  padding: 20px;
}

.call-btn {
  display: inline-block;
  margin-top: 10px;
  background: green;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
}

.menu, .cart {
  padding: 20px;
}

.item {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

button {
  padding: 8px 12px;
  margin-top: 5px;
  cursor: pointer;
}

.order-btn {
  background: black;
  color: white;
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: none;
}